<aside class="side-menu">
  <div class="brand">
    <img src="/logo.png" alt="EstéticaZap logo" />
    <span>EstéticaZap</span>
  </div>
  <nav>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
<a routerLink="/home"><i class="fa fa-home"></i> Home</a>
      </li>
      <li routerLinkActive="active">
<a routerLink="/agenda"><i class="fa fa-calendar-alt"></i> Agenda</a>
      </li>
      <li routerLinkActive="active">
<a routerLink="/clientes"><i class="fa fa-users"></i> Clientes</a>
      </li>
    </ul>
  </nav>
</aside>
